body
{
    margin: 0px;
    padding: 0px;
    background-image: url("../images/background_1.wide.jpeg");
}

.fas:hover
{
    
    transform: scale(1.15);
    transition: all 1s;
}
#restLogo
{
    position: absolute;
    top: 0px;
    left: 50px;
}
#animatedO
{
    position: absolute;
    top: 0;
    left: 25;
    animation-name: oo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes oo 
{
    0% {top: 0px;}
    25% {top: -10px;}
    50% {top: 10px;}
    75% {top: 0px;}
    100% {top: 0px;}
}

